{% extends 'base/base.html' %}
<p>{%block content %}</p>



<p>{% for comment in comments %}</p>


   <div class="row">
        <div class="col-3 d-flex align-items-end flex-column">
             <div class="comment-author-pic">
                 <a href="{% url 'profile' comment.author.id %}">
                  <img
                    src="{{comment.author.avatar.url}}"
                    alt="Profile picture"
                    class="round"

                  /></a>
             </div>
         </div>
         <div class="col-9" > 




                 {% if comment.author == request.user.profile %}
                <p class="card-text">
                      <small class="text-muted">
                      	<a href="{% url 'profile' comment.author.id %}">{{comment.author}} 
                      	</a>-      {{comment.date_create}}
                      </small>

                      <div class="posts border m-2 p-2 notification message is-primmary">
          	               {{comment.body|safe }}
                        <a href="{% url 'delete_com' comment.id %}" class='delete'>
            	
                         </a>
                        
                      </div> 
                                        {% else%}
                       <a href="#">
                           Like
                       </a>
                </p>
          






{% endif %}
          </div>
    </div>




<p>{% endfor%}</p>
<div class="editor-section">
  <form action="" method="POST">
    {% csrf_token %} {{comm_form.media}} {{comm_form.as_p}}
    <p><button class="btn btn-success" type="submit">send</button></p>
  </form>
</div>

<p>{% endblock %}</p>












         