{% extends 'base/base.html' %}

<!-- prettier-ignore -->
{# not myself but a site-level one (TEMPLATE_DIRS setting) #}
<!-- prettier-ignore -->
{% load i18n static %}{% load postman_tags %} {% block title %}{% trans "Messaging" %}

<!-- prettier-ignore -->
{% endblock %} {% block extrahead %}{{ block.super }}
<link
  type="text/css"
  media="all"
  rel="stylesheet"
  href="{% static 'postman/css/postman.css' %}"
/>
{% endblock %} {% block postman_menu %}
<!-- prettier-ignore -->


<div class="tabs is-centered">
  <ul id="postman_menu">
   {% postman_unread as unread_count %}
    <li {% if request.path == '/messages/inbox/'%}class="is-active"{% endif %}><a href="{% url 'postman:inbox' %}"
      >&raquo;&nbsp;{% trans "Inbox" %}{% if unread_count %}
      <strong>({{ unread_count }})</strong>{% endif %}</a
    ></li>
    <li {% if request.path == '/messages/sent/'%}class="is-active"{% endif %}><a href="{% url 'postman:sent' %}"> &raquo;&nbsp;{% trans "Sent Messages" %}</a
    ></li>
    <li {% if request.path == '/messages/write/'%}class="is-active"{% endif %}> <a href="{% url 'postman:write' %}">&raquo;&nbsp;{% trans "Write" %}</a></li>
    <li {% if request.path == '/messages/archives/'%}class="is-active"{% endif %}><a href="{% url 'postman:archives' %}"
      >&raquo;&nbsp;{% trans "Archives" %}</a
    ></li>
     <li {% if request.path == '/messages/trash/'%}class="is-active"{% endif %}> <a href="{% url 'postman:trash' %}">&raquo;&nbsp;{% trans "Trash" %}</a></li>
  </ul>
</div>

<!-- prettier-ignore -->

{% endblock %}
