.mx-auto {
  width: 50px;
}

.signin {
  display: inline-block;
  width: 200px;
}

.registr-form {
  max-width: 480px;
  margin: auto;
}

.justify-content-center {
  position: fixed; /* Абсолютное позиционирование */
  bottom: 300px; /* Положение от нижнего края */
  right: 600px; /* Положение от правого края */
  line-height: 1px;
}

.no_publication {
  color: #c0c0c0;
}

.comment-author-pic {
  width: 100px;
}

.round {
  border-radius: 50%; /* Радиус скругления */
  border: 3px solid white; /* Параметры рамки */
  box-shadow: 0 0 7px #666; /* Параметры тени */
  width: 100px;
}

.center {
  text-align: center;
  background-color: #e6f0ff;
}

.deleted {
  position: fixed; /* Абсолютное позиционирование */
  bottom: 5px; /* Положение от нижнего края */
  left: 835px; /* Положение от правого края */
  line-height: 1px;
}

.del {
  position: fixed; /* Абсолютное позиционирование */
  bottom: 5px; /* Положение от нижнего края */
  left: 780px; /* Положение от правого края */
  line-height: 1px;
}

