{% extends 'base/base.html' %} {%block content %}
vvvv
<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
      <div class="card bg-image hover-overlay ripple ">
       <!--****************Profile request ******************-->
        {% if profile.user == request.user %}
          <img src="{{user.profile.avatar.url}}" class="img-fluid" width="350px" />
            <a href="{% url 'change_avatar' profile.id %}"
              class="btn btn-sm btn-succes card-body container "
              type="submit"/>
              Change avatar</a>
        <div class="card-body center">
          <h5 class="card-title">{{user.username}}</h5>
          <p class="card-text">
            <p>registered {{user.profile.created|date:'Y-m-d'}}</p>
            <p class="card-text">about: {{user.profile.about}}</p>
          </p >
          <a  href="#" class="btn btn-primary btn-sm "> Friends </a>
          <a href="{% url 'postman:inbox' %}" class="btn btn-info btn-sm "
            >messages</a>
        </div>

          <!--****************Profile  not request ******************-->
                    {% else %}
        <img src="{{profile.avatar.url}}" class="img-fluid" width="350px" />

        <div class="card-body center">
          <h5 class="card-title">{{profile.user}}</h5>
          <p class="card-text">
             <p>registered {{user.profile.created|date:'Y-m-d'}}</p>
             <p class="card-text">about: {{user.profile.about}}</p>
          </p>
          <a href="#" class="btn btn-primary btn-sm">add to friend</a>
          
          <a href="{% url 'postman:write' %}"  class="btn btn-info btn-sm mt-1">send a message</a>
           
        </div>
         {% endif %}
      </div>
    </div>
    <!--    content side         -->

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="feed-section">
            <div class="row">
               
            <!--****************Posts     request user  ******************-->
                   {% if profile.user == request.user %}
                                  {% for post in posts %}

             <p class="card-text">
                <small class="text-muted">                     
                {{post.author}} - {{post.date_create}} 
                </small>
              </p>


                   <a 
                     class="deleted is-medium" aria-label="delete"  
                     href="{% url 'delete_post' post.id %}">
                   </a>
              <article class="message is-dark">
                <div class="message-body">
                  {{ post.body|safe }}
                </div>


                   <a    
                    href="{% url 'comments' post.id %}"
                     class="button is-dark ">
                      comments:{{count_com}}
                  </a>   
            
                  
               </article> 
                
              
                  {% endfor %}
                  


                   <!--****************Posts    not request user  ******************-->
                  {% else %}
                  {% for post in posts_other %}

                <p class="card-text">
                  <small class="text-muted">   
                      <h5>{{post.author}} - {{post.date_create}} </h5>  
                  </small>
                </p>
                
              <article class="message is-dark">
                
                <div class="message-body">
                  {{ post.body|safe }}
                </div>
                 <a
                  href="{% url 'comments' post.id %}"
                  class="button is-info is-outlined">
                  comments:{{count_com}}</a>
               </article>
                  {% endfor %}{% endif %}
                   <!--****************END Posts      ******************-->
            
            </div>  
          </div>

             <!--****************Form request user  ******************-->
          <p>{% if profile.user == request.user %}</p>
          <div class="editor-section">
            <form action="" method="POST">
              {% csrf_token %} {{post_form.media}} {{post_form.as_p}}
              <p><button class="btn btn-success" type="submit">send</button></p>
            </form>
          </div>
           <!--****************Form not request user  ******************-->
          {% else%}
          <p class="no_publication">...</p>
          {% endif %}
           <!--****************END FORM  ******************-->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}