{% extends 'base/base.html' %} {%block content %}

<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
      <div class="card bg-image hover-overlay ripple">
        {% if profile.user.username == None %}
        <img
          src="{{ user.profile.avatar.url}}"
          class="img-fluid"
          width="350px"
        />
        <h1>FIRST</h1>
        <form method="" enctype="multipart/form-data">
          {% csrf_token %}
          <button class="btn btn-sm btn-primary" type="submit">
            Change avatar
          </button>
        </form>
        <div class="card-body">
          <h5 class="card-title">{{user.username}}</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="{% url 'logout' %}" class="btn btn-primary">logout</a>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
        {% else %}
        <img src="{{profile.avatar.url}}" class="img-fluid" width="350px" />

        <div class="card-body">
          <h5 class="card-title">{{profile.user}}</h5>

          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">add to friend</a>
        </div>
        {% endif %}
      </div>
    </div>
    <!--    content side         -->

    <div class="col-md-9">
      <div class="row">
        <div class="col-lg-8">
          {% if profile.user.username == None %}
          <div class="feed-section">
            <h1>My posts</h1>
            {% for post in posts %}
            <div class="row">
              <div class="col-3 d-flex align-items-end flex-column">
                <div class="posts-author-pic">
                  <h4>{{user.username}}</h4>
                  <img
                    src="{{user.profile.avatar.url}}"
                    height="60px"
                    alt="Profile picture"
                    class="rounded"
                  />
                </div>
              </div>
              <div class="col-9">
                <div class="posts border m-2 p-2">
                  {{post.body|safe }}
                  <div class="post-button-section d-flex justify-content-end">
                    <span> Delete</span>
                  </div>
                </div>
                <p>
                  <a href="{% url 'comments' post.id %}">show comments</a>
                </p>
              </div>
            </div>

            {% endfor %}
          </div>

          {% else %}
          <div class="feed-section">
            <h1>Posts</h1>
            {% for post in posts_other %}
            <div class="row">
              <div class="col-3 d-flex align-items-end flex-column">
                <div class="posts-author-pic">
                  <h4>{{profile.user}}</h4>
                  <img
                    src="{{profile.avatar.url}}"
                    height="60px"
                    alt="Profile picture"
                    class="rounded"
                  />
                </div>
              </div>
              <div class="col-9">
                <div class="posts border m-2 p-2">
                  {{post.body|safe }}
                  <div class="post-button-section d-flex justify-content-end">
                    <a href="{% url 'comments' user.id %}">add comment</a>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
          </div>
          {% endif %} {% if profile.user.username == None %}
          <div class="editor-section">
            <form action="" method="POST">
              {% csrf_token %} {{post_form.media}} {{post_form.as_p}}
              <p><button class="btn btn-success" type="submit">send</button></p>
            </form>
          </div>
          {% else%}
          <p class="no_publication">no publication...</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
