{% extends 'base/base.html' %} {% block content%}

<title>{% block title %} users {% endblock title %}</title>
<br />

<div class="col-md-10">
  <strong><h1>Персонал</h1></strong>
  <hr />
  <div class="card card-body">
    <a class="btn btn-success btn-sm btn-block" href="№"></a>
    <table class="table table-sm">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        {% for user in users%}
        <td>
          <a
            class="btn btn-sm btn-success"
            href="{% url 'profile_detail' user.id %}"
            >открыть</a
          >
        </td>
        <td>{{user.user}}</td>
        <td>
          <img src="{{user.avatar.url}}" class="img-fluid" width="50px" />
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
